.box{
    width: 450px;
    height: 450px;
    border:solid ;
    border-color: black;
    border-radius: 10px;
}
.box1{
    width: 60px;
    height: 60px;
    border:solid ;
    border-color: black;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.box2{
    width: 60px;
    height: 60px;
    border:solid ;
    border-color: black;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.box3{
    width: 60px;
    height: 60px;
    border:solid ;
    border-color: black;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.button{
    color: white;
    border: solid;
    background-color: black;
    width: 50px;
    height: 20px;
    border-radius: 10px; 
    padding-left: 15px;
}
.p{
    padding-left:100px ;
    padding-bottom: 400px;
    color: blue;
}